<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button icon="ios-arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-title>
      Search Location
    </ion-title>
	</ion-toolbar>

	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide"  [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" ></ion-searchbar>
  </div>
  

</ion-header>

<ion-content style="background-color: white;">

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
	
</ion-content>
